In [69]:
import pandas as pd

In [77]:
df=pd.read_csv('college_seats_cleaned.csv')

In [79]:
df

,College Code,1G,1H,2AG,2AH,2BG,2BH,3AG,3AH,3BG,...,GM,GMH,NKN,PH,SCG,SCH,STG,STH,XD,Total Seats
0,C412MC,2,0,8,1,2,1,2,0,2,...,23,2,0,3,9,1,4,0,0,60
1,C423MC,1,2,2,4,1,1,0,2,0,...,6,13,0,2,2,5,1,2,0,45
2,C495MC,7,1,23,2,6,1,6,0,8,...,69,6,0,9,26,2,11,1,1,180
3,C496MC,4,0,16,1,4,0,5,0,5,...,46,4,0,6,17,2,7,1,1,120
4,C497MC,4,0,16,1,4,0,4,0,6,...,46,4,0,6,18,2,7,1,0,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,C543MC,2,0,6,1,2,0,1,0,2,...,19,1,0,3,7,1,3,0,0,48
133,C546MC,735,0,1,2,5,1,2,0,1,...,2,6,14,0,3,2,5,1,2,48
134,C551MC,648,1,0,3,0,1,0,1,0,...,0,9,1,0,1,4,1,1,0,24
135,C568MC,1,0,3,1,1,0,1,0,1,...,9,1,0,1,3,0,2,0,0,24
136,C575MC,4,0,16,1,4,0,4,0,5,...,46,4,0,6,18,2,8,1,0,120

In [81]:
categories = ['1G', '1H', '2AG', '2AH', '2BG', '2BH', '3AG', '3AH',
              '3BG', '3BH', 'GM', 'GMH', 'NKN', 'PH', 'SCG', 'SCH', 'STG', 'STH', 'XD']

df['Sum'] = df[categories].sum(axis=1)
filtered_df = df[df['Sum'] == df['Total Seats']]
filtered_df = filtered_df.drop(columns=['Sum'])

filtered_df

,College Code,1G,1H,2AG,2AH,2BG,2BH,3AG,3AH,3BG,...,GM,GMH,NKN,PH,SCG,SCH,STG,STH,XD,Total Seats
0,C412MC,2,0,8,1,2,1,2,0,2,...,23,2,0,3,9,1,4,0,0,60
1,C423MC,1,2,2,4,1,1,0,2,0,...,6,13,0,2,2,5,1,2,0,45
2,C495MC,7,1,23,2,6,1,6,0,8,...,69,6,0,9,26,2,11,1,1,180
3,C496MC,4,0,16,1,4,0,5,0,5,...,46,4,0,6,17,2,7,1,1,120
4,C497MC,4,0,16,1,4,0,4,0,6,...,46,4,0,6,18,2,7,1,0,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,C520MC,1,0,7,1,1,0,1,0,3,...,19,1,0,3,7,1,3,0,0,48
130,C521MC,1,0,3,0,1,1,1,0,1,...,9,1,0,1,3,0,2,0,0,24
132,C543MC,2,0,6,1,2,0,1,0,2,...,19,1,0,3,7,1,3,0,0,48
135,C568MC,1,0,3,1,1,0,1,0,1,...,9,1,0,1,3,0,2,0,0,24
136,C575MC,4,0,16,1,4,0,4,0,5,...,46,4,0,6,18,2,8,1,0,120

In [82]:
filtered_df.to_csv('final_seat_availability.csv', index=False)